html{
    background-color: #f5ecd5;
    width: 600px;
    height: 600px;
}

body{
    text-align: center;
}

h1{
    color: #a4b465;
}

h2{
    color: #a4b465;
}

#search{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #f0bb78;
}

#openmenu{
    background: none;
    border: none;
    color:#41492f;
    font-size: 24px;
}

#openmenu:hover{
    color:white;
}

#menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:#f0bb78;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
    text-align: left;
}

#closemenu{
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#closemenu:hover{
    color:#626f47;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #626f47;
}

a:active {
    color:#41492f;
}

.homeButtons button{
    color: white;
    font-size: 20px;
    background-color: #a4b465;
    border: 2px #626f47 solid;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.addRecipeButtons button{
    color: white;
    font-size: 20px;
    background-color: #a4b465;
    border: 2px #626f47 solid;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

#home{
    width: 30px;
}

#list{
     margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    height: 400px;
    text-align: left;
    font-size: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#groceryList {
    flex: 1;
    overflow-y: auto;
    list-style-type: none;
    padding-left: 0;
}

#groceryList li {
    margin: 6px 0;
    font-size: 20px;
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#inputGrocery {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    border: 2px solid #f0bb78;
}

#addBtn {
    padding: 8px 20px;
    font-size: 14px;
    background-color: #a4b465;
    color: white;
    border: 2px solid #626f47;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
}

#addBtn:hover {
    background-color: #8fa24e;
}

#clearListBtn {
    background-color: #f0bb78;
    color: #41492f;
    border: 2px solid #626f47;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    height: 40px;
}

#clearListBtn:hover {
    background-color: #e3aa63;
}