html{
    background-color: #f5ecd5;
    width: 750px;
    height: 500px;
}

body{
    text-align: center;
}

h1{
    color: #a4b465;
}

#search{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #f0bb78;
}

#openmenu{
    background: none;
    border: none;
    color:#41492f;
    font-size: 24px;
}

#openmenu:hover{
    color:white;
}

#menu{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:#f0bb78;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 5px;
    text-align: left;
}

#closemenu{
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#closemenu:hover{
    color:#626f47;
}

a{
    font-size: 20px;
    text-decoration: none;
    color: #626f47;
}

a:active {
    color:#41492f;
}






