html{
    background-color: #f5ecd5;
    width: 750px;
    height: 500px;
    text-align: center;
}

h1{
    color: #a4b465;
}

#search{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid #f0bb78;
}

#sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color:#f0bb78;
    color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}






